@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;500;700&family=Ubuntu:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background-color: #262938;
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: #262938;
  padding: 5vh 5vw;
  text-wrap: balance;
}
header h1 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #eee;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 4vw, 2rem);
  line-height: 1.4;
}

#main {
  padding: 5vh 5vw;
}
#main .projects-grid {
  border: none;
  outline: none;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  #main .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  #main .projects-grid {
    grid-template-columns: 1fr;
    gap: 10vh;
  }
}
#main .projects-grid .project-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  color: #fff;
  background-color: #f4f4f4;
  text-transform: capitalize;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  overflow: hidden;
  isolation: isolate;
  cursor: pointer;
}
#main .projects-grid .project-item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 0.5rem;
  box-shadow: inset 2px 2px 2px #fffa, inset -2px -2px 2px rgba(0, 0, 0, 0.3);
  z-index: -1;
}
#main .projects-grid .project-item figure {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
#main .projects-grid .project-item figure img {
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  transition: 0.3s;
}
#main .projects-grid .project-item h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-family: "Rokkitt", serif;
  color: #000;
  position: relative;
}
#main .projects-grid .project-item h2::before {
  position: absolute;
  content: "";
  bottom: -0.25rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  opacity: 1;
  height: 0.25rem;
  border-radius: 1rem;
  background: #000;
  transition: 0.3s;
}
#main .projects-grid .project-item p {
  margin: 1rem;
  font-size: 1rem;
  color: #000;
  font-weight: 300;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
#main .projects-grid .project-item a {
  text-decoration: none;
  color: #000;
  border: none;
  outline: none;
  padding: 0.2em 2em;
  font-size: 1rem;
  margin: 1em auto;
  transform: scale(0.8);
  border-radius: 5px;
  position: relative;
  transition: 0.5s ease;
}
#main .projects-grid .project-item a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #262938;
  border-radius: 0.5rem;
  transition: 0.5s ease;
  z-index: -1;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
#main .projects-grid .project-item a:hover {
  transform: scale(1.2);
}
#main .projects-grid .project-item:hover figure img {
  transform: scale(1.05);
}
#main .projects-grid .project-item:hover h2::before {
  opacity: 1;
  width: 50%;
}
#main .projects-grid .project-item:hover a {
  transform: scale(1.05);
  color: #fff;
}
#main .projects-grid .project-item:hover a::before {
  opacity: 1;
}

footer {
  background: #f4f4f4;
  padding: 5vh 0;
  color: #333;
  display: grid;
  place-items: center;
  text-transform: capitalize;
}
footer p {
  line-height: 1.5;
}
footer p span {
  color: #000;
  display: block;
}

.loader_bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #262938;
  z-index: 1;
  display: grid;
  place-items: center;
}

.spinner {
  height: 4rem;
  width: 4rem;
  position: relative;
  overflow: hidden;
  color: #f4f4f4;
  display: grid;
  place-items: center;
  text-transform: capitalize;
  isolation: isolate;
}
.spinner .spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  border-radius: 50%;
  mix-blend-mode: overlay;
  animation: rotate infinite;
}
.spinner .spinner-sector.sector-1 {
  border-top-color: #dc143c;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}
.spinner .spinner-sector.sector-2 {
  border-right-color: #ead2a1;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.spinner .spinner-sector.sector-3 {
  border-left-color: #29323c;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ring {
  display: grid;
  place-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  font-size: 0.85rem;
  color: #fff000;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff000;
  box-shadow: 0 0 20px #000001;
}
.ring .ring::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: glowRing 5s linear infinite;
}
.ring span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 5s linear infinite;
}
.ring span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}
@keyframes glowRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/*# sourceMappingURL=style.css.map */
