@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;500;700&family=Ubuntu:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px; 
}
$font-rokkit: 'Rokkitt', serif;
$font-ubuntu: 'Ubuntu', sans-serif;

body {
    width: 100vw;
    header {
        width: 100%;
        background-color: #f4f4f4;
        padding: 5vh 5vw;

        h1 {
            text-align: center;
            font-family: $font-rokkit;
            font-size: 2.5em;
            background-color: #eee;
            padding: .2em;
            width: 100%;
            @media(max-width: 768px) {
                font-size: 2em;
            }
        }
    }

    #main {
        margin: 5vh 5vw;

        .projects-grid {
            border: none;
            outline: none;
            display: grid;
            gap: 1em;
            grid-template-columns: 1fr 1fr 1fr;
            @media (max-width: 768px){
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 500px){
                grid-template-columns: 1fr;
            }

            .project-item {
                border: 1px solid #000;
                border-radius: 5px;
                color: #fff;
                background-color: #f4f4f4;
                padding: 1em .5em;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: auto;
                text-transform: capitalize;
                position: relative;
                isolation: isolate;
                cursor: pointer;
                // &::after {
                //     position: absolute;
                //     content: '';
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 100%;
                //     opacity: 1;
                //     background-color: rgba(0, 0, 0, 0.705);
                //     z-index: -1;
                // }
                figure {
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                    border-radius: 5px;

                img {
                    width: 100%;
                    height: 100%;
                    background-color: red;
                    z-index: -1;
                    object-fit: cover;
                    transition: .3s;
                }
            }
                h2 {
                    margin-bottom: 1em;
                    font-size: 1.5em;
                    // font-family: $font-ubuntu;
                    font-family: $font-rokkit;
                    color: #000;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: '';
                        bottom: -.5em;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        opacity: 1;
                        height: 5px;
                        background: #000a;
                        transition: .3s;
                        transition-delay: .3s;
                    }
                }

                p {
                    margin: 2vh 5vw;
                    font-size: 1em;
                    color: #333;
                    text-align: center;
                    font-family: $font-ubuntu;
                }

                a {
                    text-decoration: none;
                    color: #000;
                    // background-color: #000;
                    border: none;
                    outline: none;
                    padding: .2em 2em;
                    border-radius: 5px;
                    position: relative;
                    transition: .3s ease;

                    &::before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        border-radius: 5px;
                        transition: .3s ease;
                        box-shadow: inset 2px 2px 4px #fff,
                                    inset -2px -2px 4px #000a;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                // hover state
                &:hover {
                    figure {
                        img {
                            transform: scale(1.1);
                        }
                    }
                    h2 {
                        &::before {
                            opacity: 1;
                            width: 50%;
                        }
                    }
                    a {
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}